<nav id="nav">
  <h1>{{ site.title }} <span class="description">{{ page.description | default: site.description | default: site.github.project_tagline }}</descripion></h1>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    {% if site.show_nav and site.data.nav %}
    <div class="text-sm lg:flex-grow">
      {% for item in site.data.nav %}
        <a href="{{ item.link | prepend: site.baseurl }}" class="block mt-4 lg:inline-block lg:mt-0 text-grey hover:text-white mr-4">{{ item.title }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
    {% if site.show_downloads %}
    <div style="float: right;">
        <a href="#" >Download</a>      
    </div>
    {% endif %}
</nav>