code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: scroll;
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
  border-radius: 5px;
  width: 290px;

  @media (min-width: 360px) {
    width: 325px;
  }
  @media (min-width: 380px) {
    width: 350px;
  }
  @media (min-width: 410px) {
    width: 370px;
  }
  @media (min-width: 900px) {
    width: auto;
  }
}
pre code {
  padding: 0;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
}