#header {
	padding: 20px 0;
	background-color: #596a73;
	color: #9babb4;
	h1 {
		color: #fff;
		margin: 0;
	}
	.description {
		display: block; 
		font-size: 50%;
		font-weight: normal;
		color: #9babb4;
	}
}
