#header {
	padding: 20px 0;
	background-color: $header-bg;
	color: $header-color;
	h1 {
		color: $header-title-color;
		margin: 0;
	}
	.description {
	margin-top: 5px;
		display: block; 
		font-size: 50%;
		font-weight: normal;
		color: $header-color;
	}
}
