---
---
<!doctype html>
<html class="no-js" lang="">
	{% include head.html %}
	<body>
		<div id="header">
			<div class="wrapper">
				{% include nav.html %}
			</div>
		</div>
		<div id="main">
			<div class="wrapper">
				<div class="container">
					<article id="content">
						{{ content }}
					</article> 					
					<nav id="sidebar" class="main-nav">
						{% include sidebar.html %}
					</nav>
				</div>
			</div>			
		</div>
		<div id="footer">
			<div class="wrapper">
				<div>
				{% include footer.html %}					
				</div>
			</div>
		</div>
	</body>
</html>
